*{
  box-sizing: border-box;
}


/* header side strt here */

.nav-container{
  min-height: 50px;
  display: flex;
justify-content: space-between;
align-items: center;
width: 500;
min-height: 130px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
margin: 0 auto;

}
.nav-img{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-img p{
text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-gamer{
  color: #FF42A5;
  
}
.nav-img img{
  width: 80px;
height: 40px;

}
.item-container{
  width: 50%;
 display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.item-container a{
  text-decoration: none;
}
.btn-nav{
  border-radius: 10px;
background: rgba(11, 2, 35, 0.10);
padding: 5px;
}
/* navbar style end here */


/* 
banner style start here */

.img-banner img{
width: 550px;
height: 500;
}
.banner-container{
  width: 901px;
height: 700px;
display: flex;
justify-content: center;
align-items: center;
background-color:#8C57EE0D;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
}
.banner-content h3{
  color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 22px;
font-weight: 600;
text-transform: uppercase;
}
.banner-content h1{
  text-align: center;
font-family: Work Sans;
font-size: 50px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 30px;
}
.banner-content p{
  color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
}
.btn-banner{
  display: inline-flex;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 35px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
}
#btn-second{
  display: inline-flex;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 35px;
background: #4EC5F7;
}
/* banner style end here */
/* funny video style side start */
.videos-container{
  margin-top: 100px;
  width: 100%;
}

.video-content{
 text-align: center;
 /* margin-left: 250px; */
 width: 100%;
}
.video-img{
  display: flex;
  gap: 10px;
  text-align: center;
}
.funny img{
width: 230px;
height: 320px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.funny-three{
  width: 230px;
height: 320px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.funny img:hover{
  border: 1px solid tomato;
}


/* funny video style side end */


/* install image style start */
.download-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.install-img{
position: relative;
width: 300px;
height: 350px;
}
.install-img-two{
  position: absolute;
  bottom: -400px;
 right: 40%;
}
.download-containt{
  text-align: center;
  margin-top: 350px;
}
.download-containt h2{
  
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
font-family: Work Sans;
font-weight: 700;
/* line-height: 60px; */
}
.download-containt p{
color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;

}



/* install image style end */


/* footer style start */
/* logo style strat */
.logo-container{
  width: 100%;

  margin-top: 400px;
 height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.logo-img{
  width: 243px;
height: 58px;

background: #FFF;
 gap: 20px;
}
.logo-img:hover{
border: 1px solid rebeccapurple;
}
button{
  text-align: center;
  background-color: #FFF;
  
  display: flex;
 
  align-items: center;
border: #FFF;
}
button:hover{
  border: 1px solid green;
  border-radius: 30px;
  width: 90%;
  
}
.btn-p{
  
  color: #0B0223;
font-size: 10px;
font-weight: 400;

}
.btn-p:hover{
  border: 1px solid steelblue;
 
}
.logo-img img{
  height: 45px;
  width: 40px;
 
}

/* logo style end */



.footer-container{
  height: 500px;
  width: 1000px;
  background-color: black;
  margin-top: 100px;
}
.footer-img{
  color: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.footer-img p{
  font-family: Work Sans;
font-size: 45px;
font-weight: 700;
}
.footer-list{
  display: inline-flex;
padding: 10px;
align-items: center;
justify-content: center;
gap: 60px;
color: #FFF;
margin-left: 150px;
  
}
.footer-list li{
  text-decoration: none;
  list-style: none;
}
.footer-logo{
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.footer-logo img{
  width: 50px;
  height: 50px;
  padding: 10px;
}
.footer-terms a{
  color: #FFF;
  text-decoration: none;
  gap: 5px;
  text-align: center;
  margin-left: 120px;
  font-size: 15px;
  padding-top: 10px;
}
.footer-end{
  color: #FFF;
  text-align: center;
}
.footer-img img{
  width: 130px;
height: 80px;
}